# Python Basics
## your first lines of code

This section introduces basic Python concepts with clear examples and explanations. 

It covers:
- variables and data types: strings, lists, dictionaries
- arithmetic operations
- control flow and iterables: conditional statements, loops
- functions
- importing modules
- classes
- basic file operations. 

Each concept is demonstrated with simple code and comments to ensure clarity.

## 1. Variables and Data Types

Python variables are not strictly typed, this means that you do not need to define a variable before using it and you don't need to declare the variable type before assigning a value to it.

To define a variable you simply have to declare the name of the variable, followed by the equal sign and the value that you wish to assign to the variable.

In [100]:
# Creating variables
x = 10  # Integer
y = 3.14  # Float
name = "Alice"  # String
is_student = True  # Boolean

In [101]:
# Printing variables and types
#Since Python 3.6 you can use f-strings or formatted string literals which are very convenient
# The function type is used to get the data type of a variable
print(f'variable x has value {x} and type {type(x)}')
print(f'variable y has value {y} and type {type(y)}')
print(f'variable name has value {name} and type {type(name)}')
print(f'variable is_student has value {is_student} and type {type(is_student)}')

variable x has value 10 and type <class 'int'>
variable y has value 3.14 and type <class 'float'>
variable name has value Alice and type <class 'str'>
variable is_student has value True and type <class 'bool'>

In [102]:
# Accessing a previously unassigned variable is an exception.
some_unknown_var  # Raises a NameError

NameError: name 'some_unknown_var' is not defined

In [103]:
# Single line comments start with a number symbol.

""" Multiline strings can be written
    using three "s, and are often used
    as documentation.
"""

' Multiline strings can be written\n    using three "s, and are often used\n    as documentation.\n'

**Input user information**

In [17]:
import getpass
# Use input when you don't mind that the text is echoed in the console
name = input("What's your name?")

# For sensitive information like passwords use getpass
pwd = getpass.getpass("password")

What's your name? s
password ········

### Naming conventions

There are various rules that you must adhere to when choosing the name of your variables
- Must start with either a letter or an underscore
- Can contain letters, numbers underscores or dash
- Variable names are case sensitive
- Convention is to use lower_case_with_underscores

### Basic variable types

The variable types that are available to use with Python are:
- String: str
- Numeric: int, float, decimal
- Boolean: bool
- Sequence: list, tuple
- Mapping: dict
- Set: set
- Binary: bytes, bytearray

### Strings
- String variables can be defined with either double **"** or single **'** quotations. The same one to open and close the string.
- To combine two strings you can use the concatenation character, which is the plus **+** sign.
- Python **f-strings** provide a quick way to interpolate and format strings. They’re readable, concise, and less prone to error than traditional string interpolation and formatting tools, such as the .format() method and the modulo operator (%). An f-string is also a bit faster than those tools!
- The scape character in Python is the back slash \\. You can use it to tell Python to ignore the next character and just print it.
- The scape character can also be used to change the formatting of the output. **\n** will create a new line and **\t** will add a tab.

In [104]:
# String variables can be defined with either double or single quotations.
name = "Alice"  
surname = 'Brown'

In [105]:
# Concatenation
# To combine two strings you need to use concatenation character, which is the plus sign.
full_name = name + " " + surname
age = 20
print(f"Hello, {full_name}! You're {age} years old.")

Hello, Alice Brown! You're 20 years old.

In [106]:
# The scape character in Python is the back slash. You can use it to tell Python to ignore the next character and just print it.
quote = "\"It’s no use going back to yesterday, because I was a different person then.\"\nAlice, from Alice in Wonderland by Lewis Carroll"
print(quote)

"It’s no use going back to yesterday, because I was a different person then."
Alice, from Alice in Wonderland by Lewis Carroll

In [107]:
# String Length
length = len(quote)
print(f"Length of Quote: {length} characters")

Length of Quote: 126 characters

In [108]:
# String Indexing
first_char = full_name[0]
print("First Character:", first_char)

First Character: A

In [109]:
# Slicing
first_name = full_name[:5]  # Up to but not including index 5
print("First Name:", first_name)

First Name: Alice

### Numeric

- Integers are whole numbers
- Floats are numbers with decimal places.When you do a calculation that results ina fraction e.g. 4 ÷ 3 the result will always be a floating point number.

### Booleans

- Boolean values are primitives. It's important to write them with capital letter.
- It's possible to negate them using **not**
- It's possible to combine them with **and** and **or**. 
- It's possible to do arithmetic with them. **True is 1** and **False is 0**

In [112]:
# Boolean values are primitives (Note: the capitalization)
x = True     # => True
y = False    # => False
print(x + y) # => 1

1

In [115]:
# negate with not
print(not True)   # => False
print(not False)  # => True

False
True

In [ ]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False  # => False
False or True   # => True

In [116]:
# True and False are actually 1 and 0 but with different keywords
print(True + True) # => 2
print(True * 8)    # => 8
print(False - 5)   # => -5

2
8
-5

In [119]:
# In Python, xor (exclusive or) is not a direct boolean operator like and, or, and not. 
# However, it can be performed using the bitwise operator ^. 
# The xor operation returns True when the operands are different (one True and one False), and False when they are the same (both True or both False).
# Using xor with boolean values
a = True
b = False

result = a ^ b
print(result)  # Output: True

# Another example
a = True
b = True

result = a ^ b
print(result)  # Output: False

True
False

In [121]:
#  XOR can be utilized for a simple yet effective encryption and decryption mechanism, showcasing its practical application in the field of data security.

def xor_encrypt_decrypt(data, key):
    # Convert data and key to byte arrays
    data_bytes = bytearray(data, 'utf-8')
    # print(data_bytes)
    key_bytes = bytearray(key, 'utf-8')
    # print(key_bytes)

    # Perform XOR operation for each byte
    result = bytearray()
    for i in range(len(data_bytes)):
        result.append(data_bytes[i] ^ key_bytes[i % len(key_bytes)])

    # Convert the result back to a string
    return result.decode('utf-8')

# Original message
original_message = "Hello, XOR!"
# Encryption key
key = "key123"

# Encrypt the message
encrypted_message = xor_encrypt_decrypt(original_message, key)
print(f"Encrypted message: {encrypted_message}")

# Decrypt the message (using the same function)
decrypted_message = xor_encrypt_decrypt(encrypted_message, key)
print(f"Decrypted message: {decrypted_message}")

Encrypted message: # ]]K=6c
Decrypted message: Hello, XOR!

### Sequence: List, Tuple

#### Lists

- In Python, lists are used to store an ordered collection of items that can be modified. 
- They are mutable, meaning elements can be added, removed, or changed, making them highly flexible for various applications. 
- Lists are particularly useful for dynamically sized collections where the size and content may change over time. 
- They support a wide range of operations, including indexing, slicing, and various methods for manipulation like append, extend, remove, and sort. 
- Lists are ideal for tasks such as storing sequences of data, implementing stacks or queues, and any scenario where an ordered, mutable collection is needed.

In [63]:
# Lists store sequences
# Empty list
fruits = []

In [65]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print("Fruits:", fruits)

Fruits: ['apple', 'banana', 'cherry']

In [66]:
# Accessing elements
first_fruit = fruits[0]
print("First Fruit:", first_fruit)

First Fruit: apple

In [67]:
# Adding elements
fruits.append("date")
print("Fruits after appending:", fruits)

Fruits after appending: ['apple', 'banana', 'cherry', 'date']

In [68]:
# Examine the length with "len()"
print("Length of list: ",len(fruits))

Length of list:  4

In [70]:
# Get the index of the first item found matching the argument 
# Indexes start at 0
print("date is located in pos: ",fruits.index('date'))

date is located in pos:  3

In [71]:
# Removing elements
fruits.remove("banana")
print("Fruits after removing 'banana':", fruits)

Fruits after removing 'banana': ['apple', 'cherry', 'date']

In [72]:
# Removing at the end with pop
fruits.pop()
print("Fruits after removing last item:", fruits)

Fruits after removing last item: ['apple', 'cherry']

In [73]:
# Insert an element at a specific index
fruits.insert(1, 'mango')  
print("Fruits after inserting mango in index 1", fruits)

Fruits after inserting mango in index 1 ['apple', 'mango', 'cherry']

In [74]:
# Access a list like you would any array
print("First element", fruits[0])   
# Look at the last element
print("Last element", fruits[-1])

First element apple
Last element cherry

In [75]:
# Check for existence in a list with "in"
print('Mango is in the list: ','mango' in fruits)

Mango is in the list:  True

In [76]:
# Concatenate lists with "extend()"
other_fruits = ['orange', 'watermelon']
fruits.extend(other_fruits) 
print("Fruit list after concatenating other list:", fruits)

Fruit list after concatenating other list: ['apple', 'mango', 'cherry', 'orange', 'watermelon']

In [77]:
# Reverse the content of the list
fruits.reverse()
print("Fruit after reversing the content:", fruits)

Fruit after reversing the content: ['watermelon', 'orange', 'cherry', 'mango', 'apple']

In [78]:
# Count number of occurrences of x
print("Number of times mango appears:", fruits.count('mango'))

Number of times mango appears: 1

In [77]:
# IndexError when trying to access an element out of bounds
fruits[2]

IndexError: list index out of range

In [80]:
#strings can be used like lists

longest_word = 'pneumonoultramicroscopicsilicovolcanoconiosis'
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
print(longest_word[1:3])   # Return list from index 1 to 3 
print(longest_word[2:])    # Return list starting from index 2 
print(longest_word[:3])    # Return list from beginning until index 3  
print(longest_word[::2])   # Return list selecting elements with a step size of 2
print(longest_word[::-1])  # Return list in reverse order

# Use any combination of these to make advanced slices
# list_name[start:end:step]

ne
eumonoultramicroscopicsilicovolcanoconiosis
pne
pemnutairsoislcvlaooiss
sisoinoconaclovociliscipocsorcimartluonomuenp

In [86]:
# Make a one layer deep copy using slices
# Shallow Copy: The copy list is a new list object containing the same elements as original one. 
# However, if the original list contains nested lists or objects, the references to those nested elements are copied, not the objects themselves. 
# This means changes to mutable elements within the nested structure will be reflected in both copies.

# Original list with nested mutable elements
original_list = [1, 2, [3, 4], 5]

# Create a shallow copy using slicing
shallow_copy = original_list[:]

# Print both lists before making any changes
print("Original list before change:", original_list)
print("Shallow copy before change:", shallow_copy)

# Modify a mutable element (nested list) in the shallow copy
shallow_copy[2][0] = 99

# Print both lists after making changes
print("Original list after change:", original_list)
print("Shallow copy after change:", shallow_copy)

# The change done in one list is reflected in the other.

Original list before change: [1, 2, [3, 4], 5]
Shallow copy before change: [1, 2, [3, 4], 5]
Original list after change: [1, 2, [99, 4], 5]
Shallow copy after change: [1, 2, [99, 4], 5]

#### Tuples

- In Python, tuples are used to store a collection of items in a single, immutable sequence. 
- They are similar to lists, but unlike lists, tuples cannot be modified after creation, which makes them useful for storing data that should not change throughout the program. 
- Tuples are often used for grouping related data together, such as returning multiple values from a function or creating records with fixed fields. 
- Their immutability ensures data integrity, and they can be used as keys in dictionaries or elements in sets, where immutability is required. 
- Additionally, tuples generally have a slight performance advantage over lists due to their fixed size and immutability.

In [87]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0]      # => 1

1

In [88]:
tup[0] = 3  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [91]:
# Note that a tuple of length one has to have a comma after the last element 
# but tuples of other lengths, even zero, do not.
print(f'type((1))  : {type((1))}')   # => <class 'int'>
print(f'type((1,)) : {type((1,))}')  # => <class 'tuple'>
print(f'type(())   : {type(())}')  # => <class 'tuple'>

type((1))  : <class 'int'>
type((1,)) : <class 'tuple'>
type(())   : <class 'tuple'>

In [93]:
# You can do most of the list operations on tuples too
print(f'tup             : {tup}')
print(f'len(tup)        : {len(tup)}')         # => 3
print(f'tup + (4, 5, 6) : {tup + (4, 5, 6)}')  # => (1, 2, 3, 4, 5, 6)
print(f'tup[:2]         : {tup[:2]}')          # => (1, 2)
print(f'2 in tup        : {2 in tup}')         # => True

tup             : (1, 2, 3)
len(tup)        : 3
tup + (4, 5, 6) : (1, 2, 3, 4, 5, 6)
tup[:2]         : (1, 2)
2 in tup        : True

In [95]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3
print(a)
print(b)
print(c)

1
2
3

In [96]:
# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4
print(a)
print(b)
print(c)

1
[2, 3]
4

In [98]:
# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f
# respectively such that d = 4, e = 5 and f = 6
print(d)
print(e)
print(f)

4
5
6

In [99]:
# Now look how easy it is to swap two values
print(f'd is {d} and e is {e}')
e, d = d, e  # d is now 5 and e is now 4
print(f'd is {d} and e is {e}')

d is 4 and e is 5
d is 5 and e is 4

### Mapping: dict

- In Python, dictionaries are used to store collections of key-value pairs, providing a way to map unique keys to corresponding values. 
- They are mutable, allowing for the addition, removal, and modification of key-value pairs. 
- Dictionaries are highly efficient for lookups, insertions, and deletions due to their underlying hash table implementation, making them ideal for situations where quick access to data via a unique key is essential. 
- Common uses include storing and retrieving data by labels, implementing caches, and managing configuration settings. 
- The ability to use various data types as keys (as long as they are immutable) and values (which can be of any type) adds to their versatility and power in organizing and managing data.

In [17]:
# Dictionaries store mappings from keys to values
empty_dict = {}

# Creating a dictionary
student = {
    "name": "Alice",
    "age": 21,
    "is_student": True
}
print("Student Dictionary:", student)

# Accessing values
student_name = student["name"]
print("Student Name:", student_name)

# Adding a new key-value pair
student["major"] = "Computer Science"
print("Updated Student Dictionary:", student)

Student Dictionary: {'name': 'Alice', 'age': 21, 'is_student': True}
Student Name: Alice
Updated Student Dictionary: {'name': 'Alice', 'age': 21, 'is_student': True, 'major': 'Computer Science'}

In [85]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.
invalid_dict = {[1,2,3]: "123"}  # => Yield a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [88]:

# Get all keys as an iterable with "keys()". We need to wrap the call in list() to turn it into a list. 
# Note - for Python versions <3.7, dictionary key ordering is not guaranteed. 
# However, as of Python 3.7, dictionary items maintain the order at which they are inserted into the dictionary.
list(student.keys())

['name', 'age', 'is_student', 'major']

In [89]:
# Get all values as an iterable with "values()".
# Once again we need to wrap it in list() to get it out of the iterable. 
# Note - Same as above regarding key ordering.
list(student.values())

['Alice', 21, True, 'Computer Science']

In [92]:
# Check for existence of keys in a dictionary with "in"

print('Is name key in student?: ','name' in student)

Is name key in student?:  True

In [93]:
# Looking up a non-existing key is a KeyError
student["address"]  # KeyError

KeyError: 'address'

In [95]:
# Use "get()" method to avoid the KeyError
print('name', student.get("name"))
print('address', student.get("address"))
# The get method supports a default argument when the value is missing
print('name', student.get("name", 'undefined'))
print('address', student.get("address", 'undefined'))

name Alice
address None
name Alice
address undefined

In [97]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
student.setdefault("phone", 555555) 
student.setdefault("phone", 666666) 
print(student['phone'])

555555

In [ ]:
# Adding to a dictionary
filled_dict.update({"four":4})  # => {"one": 1, "two": 2, "three": 3, "four": 4}
filled_dict["four"] = 4         # another way to add to dict

# Remove keys from a dictionary with del
del filled_dict["one"]  # Removes the key "one" from filled dict

# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'b': 2}}  # => {'a': 1, 'b': 2}
{'a': 1, **{'a': 2}}  # => {'a': 2}

### Iterables

- In Python, iterables are objects that can be iterated over, meaning they can provide elements one at a time when requested. 
- They include data structures like lists, tuples, sets, dictionaries, and strings, as well as custom objects that implement the iterable protocol by defining __iter__() and __next__() methods. 
- Iterables are fundamental to Python's looping constructs, such as for loops, list comprehensions, and generator expressions. 
- They enable efficient traversal of collections and facilitate processing of data in a systematic and organized manner. 
- By providing a consistent interface for accessing elements, iterables promote code reuse and readability, enhancing the overall expressiveness and versatility of Python programs.

In [122]:
# Python offers a fundamental abstraction called the Iterable.
# An iterable is an object that can be treated as a sequence.
# The object returned by the range function, is an iterable.

filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)  # => dict_keys(['one', 'two', 'three']). This is an object
                     # that implements our Iterable interface.

dict_keys(['one', 'two', 'three'])

In [123]:
# We can loop over it.
for i in our_iterable:
    print(i)  # Prints one, two, three

one
two
three

In [124]:
# However we cannot address elements by index.
our_iterable[1]  # Raises a TypeError

TypeError: 'dict_keys' object is not subscriptable

In [131]:
# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)

In [132]:
# Our iterator is an object that can remember the state as we traverse through
# it. We get the next object with "next()".
next(our_iterator)  # => "one"

'one'

In [133]:
# It maintains state as we iterate.
print(next(our_iterator))  # => "two"
print(next(our_iterator))  # => "three"

two
three

In [130]:
# After the iterator has returned all of its data, it raises a
# StopIteration exception
next(our_iterator)  # Raises StopIteration

StopIteration:

In [134]:
# We can also loop over it, in fact, "for" does this implicitly!
our_iterator = iter(our_iterable)
for i in our_iterator:
    print(i)  # Prints one, two, three

one
two
three

In [136]:
# You can grab all the elements of an iterable or iterator by call of list().
list(our_iterable)  # => Returns ["one", "two", "three"]

['one', 'two', 'three']

In [137]:
list(our_iterator)  # => Returns [] because state is saved

[]

### Sets

- In Python, sets are used to store collections of unique, unordered elements. 
- They are mutable, allowing elements to be added or removed, but they do not allow duplicate elements, ensuring that each element appears only once. 
- Sets are highly efficient for membership testing, removing duplicates from a sequence, and performing mathematical operations like union, intersection, and difference. 
- They are ideal for situations where the presence or absence of an element is more important than the order or number of occurrences, such as managing unique items, eliminating duplicates, and performing fast set operations. 
- Due to their hash table implementation, sets provide average time complexity of O(1) for add, remove, and check operations.

In [138]:
# Sets store ... well sets
empty_set = set()
# Initialize a set with a bunch of values.
# Note how duplicates are removed
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}
print(some_set)

{1, 2, 3, 4}

In [139]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
valid_set = {(1,), 1}

In [140]:
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [141]:
# Add one more item to the set
filled_set = some_set
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}
print('filled set:',filled_set)

filled set: {1, 2, 3, 4, 5}

In [142]:
# Sets do not have duplicate elements
filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}
print(filled_set)

{1, 2, 3, 4, 5}

In [143]:
# Do set intersection with &
other_set = {3, 4, 5, 6}
print('other set:', other_set)
filled_set & other_set  # => {3, 4, 5}
print('intersection:',filled_set & other_set)

other set: {3, 4, 5, 6}
intersection: {3, 4, 5}

In [144]:
# Do set union with |
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}
print('union:',filled_set | other_set)

union: {1, 2, 3, 4, 5, 6}

In [145]:
# Do set difference with -
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}
print('difference:', filled_set - other_set)

difference: {1, 2}

In [146]:
# Do set symmetric difference with ^
{1, 2, 3, 4} ^ {2, 3, 5}  # => {1, 4, 5}
print('symetric difference:', filled_set ^ other_set)

symetric difference: {1, 2, 6}

In [147]:
# Check if set on the left is a superset of set on the right
{1, 2} >= {1, 2, 3} # => False
print('filled_set is superset of other_set:', filled_set >= other_set)

filled_set is superset of other_set: False

In [148]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3} # => True
print('filled_set is subset of other_set:', filled_set <= other_set)

filled_set is subset of other_set: False

In [149]:
# Check for existence in a set with in
2 in filled_set   # => True
10 in filled_set  # => False
print('2 is in filled_set:', 2 in filled_set)

2 is in filled_set: True

In [150]:
# Make a one layer deep copy
filled_set = some_set.copy()  # filled_set is {1, 2, 3, 4, 5}
filled_set is some_set        # => False

False

## 2. Basic Arithmetic Operations

Performing basic mathematical calculations is essential for a wide range of applications, from simple scripts to complex scientific computations. 

These operations include addition, subtraction, multiplication, division, and more advanced operations like exponentiation and modulo.

In [45]:
# Addition
x = 3
y = 2.4
3 + 2.4 # => 5.4
sum_result = x + y
print("Sum:", sum_result)

Sum: 5.4

In [44]:
# Subtraction
x = 8
y = 1
8 - 1   # => 7
difference = x - y
print("Difference:", difference)

Difference: 7

In [46]:
# Multiplication
x = 10
y = 2
10 * 2  # => 20
product = x * y
print("Product:", product)

Product: 20

In [47]:
# Division
# The result of division is always a float
x = 35
y = 5
35 / 5  # => 7.0
quotient = x / y
print("Quotient:", quotient)

Quotient: 7.0

In [50]:
# Integer Division
int_quotient = x // y
print("Integer Quotient:", int_quotient)
# Integer division rounds down for both positive and negative numbers.
print(f'5 // 3: {5 // 3}')       # => 1
print(f'-5 // 3: {-5 // 3}')      # => -2
print(f'5.0 // 3.0: {5.0 // 3.0}')    # => 1.0 # works on floats too
print(f'-5.0 // 3.0: {-5.0 // 3.0}')    # => -2.0

Integer Quotient: 7
5 // 3: 1
-5 // 3: -2
5.0 // 3.0: 1.0
-5.0 // 3.0: -2.0

In [52]:
# Modulus (Remainder)
x = 7
y = 3
7 % 3   # => 1
remainder = x % y
print("Remainder:", remainder)
# Often you'll want to know what is the remainder after a division.e.g. 4 ÷ 2 = 2 with no remainder but 5 ÷ 2 = 2 with 1 remainder
# The modulo does not give you the result of the division, just the remainder.
# It can be really helpful in certain situations,e.g. figuring out if a number is odd or even

Remainder: 1

In [53]:
# Exponentiation (x**y, x to the yth power)
x = 2
y = 3
2**3  # => 8
exponent = x ** y
print("Exponent:", exponent)

Exponent: 8

In [56]:
# The += Operator is a convenient way to modify a variable.
# It takes the existing value in a variableand adds to it.
# You can also use any of the othermathematical operators e.g. -= or *=
x += 2 
# same as x = x + 2
print("x += 2 :", x)

x += 2 : 8

In [59]:
# Enforce precedence with parentheses
print(f'1 + 3 * 2   : {1 + 3 * 2}')   # => 7
print(f'(1 + 3) * 2 : {(1 + 3) * 2}')  # => 8

1 + 3 * 2   : 7
(1 + 3) * 2 : 8

In [60]:
# abs returns the absolute value.Basically removing any -ve signs
print(abs(-4.6))

4.6

In [62]:
# round does a mathematical round.So 3.1 becomes 3, 4.5 becomes 5and 5.8 becomes 6.
print(round(4.6))
# we can pass it a value indicating the number of decimal points we want to keep
print(round(4.68,1))

5
4.7

**why 10 - 3.14 is not exactly 6.86?**

Floating-point numbers are used in computing to represent real numbers that have fractional parts. 
However, floating-point arithmetic can sometimes lead to unexpected results due to the way these numbers are stored in memory.

How Floating-Point Numbers are Stored
Computers represent floating-point numbers using a finite amount of memory, typically following the IEEE 754 standard. This standard represents a floating-point number in three parts:
- Sign bit: Indicates whether the number is positive or negative.
- Exponent: Scales the number.
- Significand (or Mantissa): Represents the precision bits of the number.
Because floating-point numbers have a limited precision, not all decimal numbers can be represented exactly. Some numbers are approximated to the closest representable value.

The number 3.14 cannot be represented exactly as a binary floating-point number. The closest representation might be something like 3.1400000000000001.
When you subtract this approximate value from 10, the result is also an approximation, hence the slight difference.

In [6]:
a = 10
b = 3.14
result = a - b

print("Expected result: 6.86")
print("Actual result: ", result)

Expected result: 6.86
Actual result:  6.859999999999999

**How to handle floating-point arithmetic issues** 
To handle floating-point arithmetic issues, you can use a few techniques:
- Rounding: Round the result to a fixed number of decimal places if exact precision is not critical.
- Decimal Module: Use Python's decimal module for precise decimal arithmetic.

In [7]:
rounded_result = round(result, 2)
print("Rounded result: ", rounded_result)  # Outputs: 6.86

from decimal import Decimal
a = Decimal('10')
b = Decimal('3.14')
result = a - b
print("Decimal result: ", result)  # Outputs: 6.86

Rounded result:  6.86
Decimal result:  6.86

**Conclusion**
- Floating-point arithmetic can lead to small precision errors due to the way numbers are represented in binary format. 
- Understanding this limitation is crucial for debugging and writing accurate numerical computations in your programs. 
- By using techniques like rounding or the decimal module, you can manage and mitigate these issues effectively.

## 3 Control Flow and Iterables

#### Comparisons

- None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False. The rest are True
- Equality and same type is **===**
- Equality is **==**
- Inequality is **!=**
- It's possible to chain < <= > >= operators for example to check if a value is in range 2 < x < 7
- Don't use the equality "==" symbol to compare objects to None. Use **"is"** instead. This checks for equality of object identity.

In [151]:
# Comparison operators look at the numerical value of True and False
0 == False  # => True
print(f'0 == False : {0 == False}')
2 > True    # => True
print(f'2 > True   : {2 > True}') 
2 == True   # => False
print(f'2 == True  : {2 == True}')
-5 != False # => True
print(f'-5 != False: {-5 != False}') # => True

0 == False : True
2 > True   : True
2 == True  : False
-5 != False: True

In [153]:
# None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False.

print(bool(0))     # => False
print(bool(""))    # => False
print(bool([]))    # => False
print(bool({}))    # => False
print(bool(()))    # => False
print(bool(set())) # => False

False
False
False
False
False
False

In [152]:
# All other values are True
print(bool(4) )    # => True
print(bool(-6))    # => True

True
True

In [156]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned. 

print(bool(0))     # => False
print(bool(2))     # => True
print(bool(-5))    # => True

False
True
True

In [155]:
# Don't mix up with bool(ints) and bitwise and/or (&,|)
print(-5 or 0)     # => -5
print(0 and 2)     # => 0

-5
0

In [157]:
# Equality is ==
print(1 == 1)  # => True
print(2 == 1)  # => False

True
False

In [159]:
# Inequality is !=
print(1 != 1)  # => False
print(2 != 1)  # => True

False
True

In [158]:
# More comparisons
print(1 < 10)  # => True
print(1 > 10)  # => False
print(2 <= 2)  # => True
print(2 >= 2)  # => True

True
False
True
True

In [161]:
# Seeing whether a value is in a range
print(f'1 < 2 and 2 < 3  : {1 < 2 and 2 < 3}')  # => True

# Chaining makes this look nicer
print(f'1 < 2 < 3        : {1 < 2 < 3}')

1 < 2 and 2 < 3  : True
1 < 2 < 3        : True

In [171]:
# IS vs. == 
# is checks if two variables refer to the same object
# == checks if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
b is a            # => True, a and b refer to the same object
print(f'if a = {a} and b = {b} then b is a : {b is a}  and b == a: {b == a}')

a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
print(f'if a = {a} and b = {b} then b is a : {b is a} and b == a: {b == a}')

if a = [1, 2, 3, 4] and b = [1, 2, 3, 4] then b is a : True  and b == a: True
if a = [1, 2, 3, 4] and b = [1, 2, 3, 4] then b is a : False and b == a: True

In [40]:
print("etc" == None)  # => False
print(None is None)   # => True

False
True

#### Conditional Statements

Conditional statements in Python, such as if, elif, and else, are used to execute different blocks of code based on certain conditions. 

These statements allow programs to make decisions and respond dynamically to various inputs or states. 

- The **if** statement evaluates a condition and, if true, executes the corresponding block of code. 
- The **elif** (short for "else if") statement provides additional conditions to check if the initial if condition is false, allowing for multiple possible branches of execution. 
- The **else** statement acts as a catch-all, executing its block of code if none of the preceding conditions are true. 

These control structures are essential for implementing logic and flow control in programs, enabling complex decision-making and behavior based on variable states and inputs.

In [53]:
# if-elif-else
age = 18

if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You just became an adult.")
else:
    print("You are an adult.")

You just became an adult.

In [64]:
# if can be used as an expression
# <value_if_true> if <condition> else <value_if_false>

"yay!" if 0 > 1 else "nay!"  # => "nay!"

'nay!'

#### For Loops
For loops in Python are used to iterate over a sequence of elements, such as lists, tuples, strings, or ranges, executing a block of code repeatedly for each element in the sequence. 

The syntax involves the **for** keyword followed by a variable that takes on the value of each element in the sequence, and a colon to denote the start of the indented code block to be executed on each iteration. 

For loops are powerful for tasks like traversing data structures, executing repetitive tasks, and automating processes. 

They provide a clear and concise way to handle iteration, making it easy to work with collections and perform operations on each element systematically.

In [27]:
# for loop
# For loops give you more control than while loops. 
#You can loop through anythingthat is iterable. e.g. a range, a list, a dictionaryor tuple
print("For Loop:")
"""
"range(number)" returns an iterable of numbers
from zero up to (but excluding) the given number
prints:
    0
    1
    2    
"""
for i in range(3):  # 0 to 2
    print(i)

For Loop:
0
1
2

In [23]:
"""
"range(lower, upper)" returns an iterable of numbers
from the lower number to the upper number
prints:
    4
    5
    6
    7
"""
for i in range(4, 8):
    print(i)

4
5
6
7

In [24]:
"""
"range(lower, upper, step)" returns an iterable of numbers
from the lower number to the upper number, while incrementing
by step. If step is not indicated, the default value is 1.
prints:
    4
    6
"""
for i in range(4, 8, 2):
    print(i)

4
6

In [25]:
"""
Loop over a list to retrieve both the index and the value of each list item:
    0 dog
    1 cat
    2 mouse
"""
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

In [26]:
# _ in a For Loop
# If the value your for loop is iterating through,e.g. the number in the range, or the item inthe list is not needed, you can replace it withan underscore
for _ in range(2):
    print ('test')

test
test

#### While Loops

While loops in Python are used to repeatedly execute a block of code as long as a specified condition remains true. 

The loop begins with the **while** keyword, followed by the condition to be evaluated, and a colon to indicate the start of the indented code block to be executed.

If the condition is true, the code block runs, and after each execution, the condition is re-evaluated. 

This process continues until the condition becomes false. 

While loops are particularly useful when the number of iterations is not known beforehand and depends on dynamic conditions, such as reading user input until a valid response is received or performing tasks until a certain state is achieved. 

They provide a flexible mechanism for implementing repetitive actions that depend on changing conditions.

In [106]:
# while loop
# This is a loop that will keep repeating itself until the while condition becomes false
print("While Loop:")
count = 0
while count < 5:
    print(count)
    count += 1      
        
# Infinite Loops  
# Sometimes, the condition you are checkingto see if the loop should continue neverbecomes false. 
# In this case, the loop willcontinue for eternity (or until your computerstops it). This is more common with whileloops.
#while 5 > 1:
#    print("I'm a survivor")

While Loop:
0
1
2
3
4
1
3
5
7
9

In Python, the **break** and **continue** statements are used to alter the flow of loops. 

- The **break** statement immediately terminates the loop, skipping any remaining iterations, and transfers control to the first statement following the loop. It's useful for exiting a loop when a specific condition is met. 
- The **continue** statement, on the other hand, skips the current iteration and moves to the next iteration of the loop. It is used to bypass certain parts of the loop when a condition is met, without terminating the loop entirely. 

Both statements enhance loop control, allowing for more precise and efficient loop behavior.

In [21]:
# break
# This keyword allows you to break free of theloop. You can use it in a for or while loop
scores = [34, 67, 99, 105]
for s in scores:
    if s > 100:
        print("Invalid")
        break
    print(s)

34
67
99
Invalid

In [22]:
# continue
# This keyword allows you to skip this iterationof the loop and go to the next. The loop will still continue, but it will start from the top
n = 0
while n < 10:
    n += 1
    if n % 2 == 0:
        continue
    print(n)
        #Prints all the odd numbers

1
3
5
7
9

#### Handle exceptions with a try/except block

In Python, the try, except, and finally statements are used for handling exceptions, allowing for robust error management and ensuring that resources are properly cleaned up. 
- The **try** block contains code that might raise an exception
- The **except** block defines how to handle specific exceptions if they occur, preventing the program from crashing. Multiple except blocks can be used to handle different types of exceptions. 
- The **finally** block, which is optional, contains code that will always execute, regardless of whether an exception was raised or not, making it ideal for cleanup actions such as closing files or releasing resources. 

This structure ensures that critical cleanup code runs even in the presence of errors, contributing to more reliable and maintainable programs.

In [115]:
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass                 # Refrain from this, provide a recovery (next example).
except (TypeError, NameError):
    pass                 # Multiple exceptions can be processed jointly.
else:                    # Optional clause to the try/except block. Must follow
                         # all except blocks.
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 # Execute under all circumstances
    print("We can clean up resources here")

We can clean up resources here

## 4. Functions

- Python functions are essential building blocks of programs, encapsulating reusable pieces of code that perform specific tasks. 
- They enable developers to organize code logically, improve readability, and promote code reuse by encapsulating functionality into named blocks. 
- Functions in Python can accept input parameters, process data, and optionally return results. 
- They can be defined using the def keyword, followed by a function name, parameters, and a code block containing the function's implementation. 
- Python functions support both positional and keyword arguments, default parameter values, variable-length argument lists, and the ability to return multiple values.

In [145]:
# Use "def" to create new functions
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

# Calling functions with parameters
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

# Another way to call functions is with keyword arguments
add(y=6, x=5)  # Keyword arguments can arrive in any order.

x is 5 and y is 6
x is 5 and y is 6

11

**Functions with default parameter value**

In [137]:
def greet(name="world"):
    print("Hello,", name)

# Call the function with and without argument
greet("Bob")
greet()

Hello, Bob
Hello, world

**Functions with variable length arguments**

In [172]:
# You can define functions that take a variable number of
# positional arguments
def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

# Call the function with different number of arguments
print(f'sum_numbers(1, 2, 3)       : {sum_numbers(1, 2, 3)}')
print(f'sum_numbers(1, 2, 3, 4, 5) : {sum_numbers(1, 2, 3, 4, 5)}')

sum_numbers(1, 2, 3)       : 6
sum_numbers(1, 2, 3, 4, 5) : 15

In [139]:
# You can define functions that take a variable number of
# keyword arguments, as well
def keyword_args(**kwargs):
    return kwargs

# Let's call it to see what happens
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

{'big': 'foot', 'loch': 'ness'}

In [175]:
# You can do both at once, if you like
def all_the_args(*args, **kwargs):
    print(f'args: {args} and kwargs: {kwargs}')
    
"""
all_the_args(1, 2, a=3, b=4) prints:
    args: (1, 2) and kwargs {"a": 3, "b": 4}
"""

# When calling functions, you can do the opposite of args/kwargs!
# Use * to expand args (tuples) and use ** to expand kwargs (dictionaries).
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}


all_the_args(*args)            # equivalent: all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)         # equivalent: all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent: all_the_args(1, 2, 3, 4, a=3, b=4)

args: (1, 2, 3, 4) and kwargs: {}
args: () and kwargs: {'a': 3, 'b': 4}
args: (1, 2, 3, 4) and kwargs: {'a': 3, 'b': 4}

**Functions returning multiple values**

In [141]:
def calculate(a, b):
    add = a + b
    multiply = a * b
    return add, multiply # Return multiple values as a tuple without the parenthesis.
                         # (Note: parenthesis have been excluded but can be included)

# Call the function and unpack the returned values
result_add, result_multiply = calculate(3, 4)
print("Addition:", result_add)
print("Multiplication:", result_multiply)

Addition: 7
Multiplication: 12

**Recursive functions**

In [133]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Call the recursive function
print(factorial(5))

120

In Python, you **cannot explicitly specify the data type that a function will return**. 

Python is dynamically typed, meaning variables can hold values of any type, and functions can return values of any type based on the computation within the function. 

However, you can indicate the expected return type using type hints as a form of documentation, although these hints are not enforced by the interpreter.

In [132]:
def add(a: int, b: int) -> int:
    return a + b

result = add(3, 4)
print(result)  # Output: 7

7

**Accessing variables with global scope**

In [143]:
# global scope
x = 5

def set_x(num):
    # local scope begins here
    # local var x not the same as global var x
    x = num    # => 43
    print(x)   # => 43

def set_global_x(num):
    # global indicates that particular var lives in the global scope
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

set_x(43)
set_global_x(6)

43
5
6

**First class functions**
- In Python, functions are considered first-class citizens, meaning they can be treated as objects and manipulated just like any other data type. 
- This unique characteristic allows functions to be passed as arguments to other functions, returned as values from functions, and assigned to variables. 
- First-class functions enable powerful programming paradigms such as functional programming, where functions can be used to express complex behaviors concisely and elegantly. 
- They promote modular, reusable code by facilitating higher-order functions, closures, and lambda expressions, enhancing the flexibility and expressiveness of Python programs.

In [144]:
# Python has first class functions
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3)   # => 13

13

**Anonymous functions**

Also known as **lambda functions** in Python, are compact, inline functions that can be defined without a formal name. 

- They are created using the lambda keyword, followed by parameters and an expression. 
- Lambda functions are typically used for short, simple operations where defining a separate named function would be overkill. 
- They are particularly useful in scenarios where functions are passed as arguments to higher-order functions or used in situations requiring a small, throwaway function. 
- Lambda functions are concise and can improve code readability by reducing the need for auxiliary functions, especially in cases where the logic is straightforward and doesn't require a separate named function. 
- However, their use should be judicious to maintain code clarity and understandability.

In [150]:
# There are also anonymous functions
(lambda x: x > 2)(3)                  # => True

True

In [149]:
def great_than_2(x):
    return x>2

great_than_2(3)

True

In [152]:
# 2**2 + 1**2 => 5
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5

5

In [153]:
# There are built-in higher order functions
list(map(add_10, [1, 2, 3]))          # => [11, 12, 13]

[11, 12, 13]

In [154]:
list(map(max, [1, 2, 3], [4, 2, 1]))  # => [4, 2, 3]

[4, 2, 3]

In [155]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))  # => [6, 7]

[6, 7]

In [158]:
# We can use list comprehensions for nice maps and filters
# List comprehension stores the output as a list (which itself may be nested).
[add_10(i) for i in [1, 2, 3]]         # => [11, 12, 13]

[11, 12, 13]

In [157]:
[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

[6, 7]

In [159]:
# You can construct set and dict comprehensions as well.
{x for x in 'abcddeef' if x not in 'abc'}  # => {'d', 'e', 'f'}

{'d', 'e', 'f'}

In [160]:
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 5. Importing Modules and Packages

### Modules

- A module is a single Python file that can contain variables, functions, classes, and executable code.
- This modular structure promotes code reuse, collaboration, and scalability, contributing to the versatility and efficiency of Python programming.
- Modules allow developers to break down large programs into smaller, manageable pieces, making it easier to understand and maintain the codebase. 
- Python's extensive standard library consists of numerous modules covering a wide range of functionalities, from file I/O and math operations to network programming and web development. 
- Additionally, developers can create their own modules by simply writing Python code in a separate file and then importing it into other Python scripts using the import statement. 
- You can import a module using the import statement, allowing you to reuse the code within it. Example: If you have a file named math_utils.py, you can use it as a module 
>     import math_utils

In [164]:
# You can import modules
import math

# Using a function from the math module
sqrt_value = math.sqrt(16)
print("Square Root of 16:", sqrt_value)

Square Root of 16: 4.0

In [161]:
# You can get specific functions from a module
from math import ceil, floor
print(ceil(3.7))   # => 4
print(floor(3.7))  # => 3

4
3

In [162]:
# You can import all functions from a module.
# Warning: this is not recommended
from math import *

In [163]:
# You can shorten module names
import math as m
math.sqrt(16) == m.sqrt(16)  # => True

True

Python modules are just ordinary Python files. You can write your own, and import them. The name of the module is the same as the name of the file.
You can find out which functions and attributes are defined in a module.
>     import math
>     dir(math)

If you have a Python script named math.py in the same folder as your current script, the file math.py will be loaded instead of the built-in Python module.
This happens because the local folder has priority over Python's built-in libraries.

In [176]:
import math
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

### Packages
- A package is a collection of related modules organized in a directory hierarchy.
- A package contains a special __init__.py file, which indicates to Python that the directory should be treated as a package.
- Packages enable a more organized and hierarchical structuring of your code, especially useful for large projects with many modules.
- Example: If you have a directory structure like this
>     my_package/
>        __init__.py
>        module1.py
>        module2.py

You can import modules from the package like this:
>     from my_package import module1

#### Safe packages

**How to know when a python package can be used?**

- Being able to find it in Python Package Index (PyPI) is a good indicator that the package is legit. https://pypi.org/
- Check dependencies in https://libraries.io/
- Does the package support the Python version that you’re working with?
- How popular is the package?
- Is the package’s codebase well maintained?
- Do other packages rely on the package?
- Does the package’s license fit your needs?
- What’s the exact pip install command for the package?

Even when you follow the good practice of working with a virtual environment, Python packages can access other parts of your operating system outside your project’s folder.

Evildoers may upload packages where they’ve switched two letters or replaced one with a neighboring letter on the keyboard. This imitation technique is known as **typosquatting**. Some packages can be considered malware and shouldn’t find their way onto your system.

## 6. Classes

In Python, classes serve as blueprints for creating objects, allowing for the encapsulation of data and behavior into a single entity. 

They provide a way to structure code by defining attributes (data) and methods (functions) that operate on those attributes. 

Classes support inheritance, enabling the creation of hierarchies where subclasses can inherit and extend the functionality of their parent classes. 

Through the use of classes and objects, developers can implement object-oriented programming (OOP) principles such as encapsulation, inheritance, and polymorphism, promoting code organization, modularity, and reusability. 

Classes facilitate the creation of complex systems by abstracting real-world entities into manageable and understandable components, fostering a structured and intuitive approach to software design and development in Python.

In [4]:
# You create a class using the class keyword.
# Note, class names in Python are PascalCased
class Car:
    #define class
    pass

In [6]:
# Creating an Object from a Class
# You can create a new instance of an objectby using the class name + ()
my_toyota = Car()

In [7]:
# Class methods
# You can create a function that belongsto a class, this is known as a method
class Car:
    def drive(self):
        print("move")
my_honda = Car()
my_honda.drive()

move

In [8]:
# Class Variables
# You can create a varaiable in a class.The value of the variable will be availableto all objects created from the class
class Car:
    colour = "black"
car1 = Car()
print(car1.colour) #black

black

In [9]:
# The __init__ method
# The init method is called every time a newobject is created from the class
class Car:
    def __init__(self):
        print("Building car")
my_toyota = Car() #You will see "building car" printed.

Building car

In [10]:
# Class Properties 
# You can create a variable in the init() ofa class so that all objects created from theclass has access to that variable.
class Car:
    def __init__(self, name):
        self.name = "Jimmy"

In [12]:
# Class Inheritance
# When you create a new class, you caninherit the methods and propertiesof another class
class Animal:
    def breathe(self):
        print("breathing")
class Fish(Animal):
    def breathe(self):
        super().breathe()
        print("underwater")
nemo = Fish()
nemo.breathe()#Result: breathing underwater

breathing
underwater

In [19]:
# We use the "class" statement to create a class
class Human:

    # A class attribute. It is shared by all instances of this class
    species = "H. sapiens"

    # Basic initializer, this is called when this class is instantiated.
    # Note that the double leading and trailing underscores denote objects
    # or attributes that are used by Python but that live in user-controlled
    # namespaces. Methods(or objects or attributes) like: __init__, __str__,
    # __repr__ etc. are called special methods (or sometimes called dunder
    # methods). You should not invent such names on your own.
    def __init__(self, name):
        # Assign the argument to the instance's name attribute
        self.name = name

        # Initialize property
        self._age = 0   # the leading underscore indicates the "age" property is 
                        # intended to be used internally
                        # do not rely on this to be enforced: it's a hint to other devs

    # An instance method. All methods take "self" as the first argument
    def say(self, msg):
        print("{name}: {message}".format(name=self.name, message=msg))

    # Another instance method
    def sing(self):
        return 'yo... yo... microphone check... one two... one two...'

    # A class method is shared among all instances
    # They are called with the calling class as the first argument
    @classmethod
    def get_species(cls):
        return cls.species

    # A static method is called without a class or instance reference
    @staticmethod
    def grunt():
        return "*grunt*"

    # A property is just like a getter.
    # It turns the method age() into a read-only attribute of the same name.
    # There's no need to write trivial getters and setters in Python, though.
    @property
    def age(self):
        return self._age

    # This allows the property to be set
    @age.setter
    def age(self, age):
        self._age = age

    # This allows the property to be deleted
    @age.deleter
    def age(self):
        del self._age

In [20]:
# When a Python interpreter reads a source file it executes all its code.
# This __name__ check makes sure this code block is only executed when this
# module is the main program.
if __name__ == '__main__':
    # Instantiate a class
    i = Human(name="Ian")
    i.say("hi")                     # "Ian: hi"
    j = Human("Joel")
    j.say("hello")                  # "Joel: hello"
    # i and j are instances of type Human; i.e., they are Human objects.

    # Call our class method
    i.say(i.get_species())          # "Ian: H. sapiens"
    # Change the shared attribute
    Human.species = "H. neanderthalensis"
    i.say(i.get_species())          # => "Ian: H. neanderthalensis"
    j.say(j.get_species())          # => "Joel: H. neanderthalensis"

    # Call the static method
    print(Human.grunt())            # => "*grunt*"

    # Static methods can be called by instances too
    print(i.grunt())                # => "*grunt*"

    # Update the property for this instance
    i.age = 42
    # Get the property
    i.say(i.age)                    # => "Ian: 42"
    j.say(j.age)                    # => "Joel: 0"
    # Delete the property
    del i.age
    # i.age                         # => this would raise an AttributeError

Ian: hi
Joel: hello
Ian: H. sapiens
Ian: H. neanderthalensis
Joel: H. neanderthalensis
*grunt*
*grunt*
Ian: 42
Joel: 0

## 7. File Operations

#### With statement
- The with statement in Python is used for resource management, ensuring that resources are properly acquired and released. 
- It is commonly used with file operations and other contexts that require setup and cleanup actions, such as opening files, acquiring locks, or connecting to databases. 
- When used with a context manager, the with statement simplifies exception handling by automatically handling resource release, even if an error occurs within the block. 
- This leads to cleaner, more readable code and helps prevent resource leaks by ensuring that resources are consistently and safely managed. 
- The syntax involves the with keyword, followed by the context manager, and an indented block of code where the resource is used.

In [119]:
# Writing to a file
with open("example.txt", "w") as file:
    file.write("Hello, this is a test file.")

In [121]:
# Instead of try/finally to cleanup resources you can use a with statement
with open("example.txt") as file:
    for line in file:
        print(line)

Hello, this is a test file.

In [120]:
# Reading from a file
with open("example.txt", "r") as file:
    content = file.read()
    print("File Content:", content)

File Content: Hello, this is a test file.

In [179]:
# Generators help you make lazy code.
def double_numbers(iterable):
    for i in iterable:
        yield i + i

In [180]:
# Generators are memory-efficient because they only load the data needed to
# process the next value in the iterable. This allows them to perform
# operations on otherwise prohibitively large value ranges.
# NOTE: `range` replaces `xrange` in Python 3.
for i in double_numbers(range(1, 900000000)):  # `range` is a generator.
    print(i)
    if i >= 30:
        break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [181]:
# Just as you can create a list comprehension, you can create generator comprehensions as well.
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)  # prints -1 -2 -3 -4 -5 to console/terminal

-1
-2
-3
-4
-5

In [182]:
# You can also cast a generator comprehension directly to a list.
values = (-x for x in [1,2,3,4,5])
gen_to_list = list(values)
print(gen_to_list)  # => [-1, -2, -3, -4, -5]

[-1, -2, -3, -4, -5]

In [186]:
# Decorators are a form of syntactic sugar.
# They make code easier to read while accomplishing clunky syntax.

# Wrappers are one type of decorator.
# They're really useful for adding logging to existing functions without needing to modify them.

def log_function(func):
    def wrapper(*args, **kwargs):
        print("Entering function", func.__name__)
        result = func(*args, **kwargs)
        print(result)
        print("Exiting function", func.__name__)
        return result
    return wrapper

@log_function               # equivalent:
def my_function(x,y):       # def my_function(x,y):
    return x+y              #   return x+y
                            # my_function = log_function(my_function)
# The decorator @log_function tells us as we begin reading the function definition
# for my_function that this function will be wrapped with log_function.
# When function definitions are long, it can be hard to parse the non-decorated
# assignment at the end of the definition.

my_function(1,2) # => "Entering function my_function"
                 # => "3"
                 # => "Exiting function my_function"

Entering function my_function
3
Exiting function my_function

3

In [187]:

# But there's a problem.
# What happens if we try to get some information about my_function?

print(my_function.__name__) # => 'wrapper'
print(my_function.__code__.co_argcount) # => 0. The argcount is 0 because both arguments in wrapper()'s signature are optional.

wrapper
0

In [18]:


# Because our decorator is equivalent to my_function = log_function(my_function)
# we've replaced information about my_function with information from wrapper

# Fix this using functools

from functools import wraps

def log_function(func):
    @wraps(func) # this ensures docstring, function name, arguments list, etc. are all copied
                 # to the wrapped function - instead of being replaced with wrapper's info
    def wrapper(*args, **kwargs):
        print("Entering function", func.__name__)
        result = func(*args, **kwargs)
        print("Exiting function", func.__name__)
        return result
    return wrapper

@log_function               
def my_function(x,y):       
    return x+y              
                            
my_function(1,2) # => "Entering function my_function"
                 # => "3"
                 # => "Exiting function my_function"

print(my_function.__name__) # => 'my_function'
print(my_function.__code__.co_argcount) # => 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
-1
-2
-3
-4
-5
[-1, -2, -3, -4, -5]
Entering function my_function
Exiting function my_function
wrapper
0
Entering function my_function
Exiting function my_function
my_function
0

## 8. Pandas
Pandas is a powerful and widely-used open-source data manipulation and analysis library in Python. 

It provides data structures and functions needed to manipulate structured data seamlessly, making it an essential tool for data science, machine learning, and data analysis tasks. 

Here's an introduction to get you started with pandas in Python.

### Installation
To install pandas, you can use pip:

>     pip install pandas

### Basic Data Structures
Pandas primarily uses two data structures: Series and DataFrame.

#### Series
A Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). 
The labels are referred to as the index.

In [188]:
import pandas as pd

# Creating a Series
data = [1, 2, 3, 4, 5]
s = pd.Series(data)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### DataFrame
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. 

It is similar to a table in a database or an Excel spreadsheet.

In [190]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### Reading Data

Pandas supports reading data from various file formats, including CSV, Excel, JSON, SQL databases, and more.

In [191]:
df.to_csv('data.csv')

# Reading a CSV file
df = pd.read_csv('data.csv')

# Displaying the first few rows
print(df.head())

   Unnamed: 0     Name  Age         City
0           0    Alice   25     New York
1           1      Bob   30  Los Angeles
2           2  Charlie   35      Chicago

### Basic Operations

#### Viewing Data
- head(): View the first few rows of the DataFrame.
- tail(): View the last few rows of the DataFrame.
- info(): Get a concise summary of the DataFrame.
- describe(): Get descriptive statistics of the DataFrame.

In [193]:
print(df.head())

   Unnamed: 0     Name  Age         City
0           0    Alice   25     New York
1           1      Bob   30  Los Angeles
2           2  Charlie   35      Chicago

In [194]:
print(df.tail())

   Unnamed: 0     Name  Age         City
0           0    Alice   25     New York
1           1      Bob   30  Los Angeles
2           2  Charlie   35      Chicago

In [195]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3 non-null      int64
 1   Name        3 non-null      object
 2   Age         3 non-null      int64
 3   City        3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes
None

In [196]:
print(df.describe())

       Unnamed: 0   Age
count         3.0   3.0
mean          1.0  30.0
std           1.0   5.0
min           0.0  25.0
25%           0.5  27.5
50%           1.0  30.0
75%           1.5  32.5
max           2.0  35.0

#### Selecting Data

- Selecting a column: df['column_name'] or df.column_name
- Selecting multiple columns: df[['col1', 'col2']]
- Selecting rows by index: df.iloc[index]
- Selecting rows by label: df.loc[label]

In [197]:
# Selecting a single column
ages = df['Age']
print(ages)

0    25
1    30
2    35
Name: Age, dtype: int64

In [198]:
# Selecting multiple columns
subset = df[['Name', 'City']]
print(subset)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [199]:
# Selecting rows by index
row = df.iloc[0]
print(row)

Unnamed: 0           0
Name             Alice
Age                 25
City          New York
Name: 0, dtype: object

In [200]:
# Selecting rows by label
row = df.loc[0]
print(row)

Unnamed: 0           0
Name             Alice
Age                 25
City          New York
Name: 0, dtype: object

#### Filtering Data

Pandas allows for easy filtering of data based on conditions.

In [201]:
# Filtering rows where age is greater than 30
filtered_df = df[df['Age'] > 30]

print(filtered_df)

   Unnamed: 0     Name  Age     City
2           2  Charlie   35  Chicago

#### Adding and Removing Columns

- Adding a column: df['new_column'] = values
- Removing a column: df.drop('column_name', axis=1, inplace=True)

In [202]:
# Adding a new column
df['Country'] = 'USA'
print(df)

   Unnamed: 0     Name  Age         City Country
0           0    Alice   25     New York     USA
1           1      Bob   30  Los Angeles     USA
2           2  Charlie   35      Chicago     USA

In [203]:
# Removing a column
df.drop('Country', axis=1, inplace=True)
print(df)

   Unnamed: 0     Name  Age         City
0           0    Alice   25     New York
1           1      Bob   30  Los Angeles
2           2  Charlie   35      Chicago

#### Handling Missing Data

- Checking for missing data: df.isnull()
- Dropping missing data: df.dropna()
- Filling missing data: df.fillna(value)

In [208]:
import pandas as pd
import numpy as np
# Create a dictionary with some null values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, np.nan, 30, np.nan, 45],
    'City': ['New York', 'Los Angeles', np.nan, 'Chicago', 'Miami']
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Checking for missing data
print(df.isnull())

    Name    Age   City
0  False  False  False
1  False   True  False
2  False  False   True
3  False   True  False
4  False  False  False

In [209]:
# Dropping rows with missing data
df.dropna(inplace=True)
print(df)

    Name   Age      City
0  Alice  25.0  New York
4    Eve  45.0     Miami

In [211]:
import pandas as pd
import numpy as np
# Create a dictionary with some null values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, np.nan, 30, np.nan, 45],
    'City': ['New York', 'Los Angeles', np.nan, 'Chicago', 'Miami']
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Filling missing data
df.fillna(0, inplace=True)
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob   0.0  Los Angeles
2  Charlie  30.0            0
3    David   0.0      Chicago
4      Eve  45.0        Miami

#### Grouping and Aggregating Data

Pandas provides powerful group by functionality to perform split-apply-combine operations on data.

In the following example
- The **groupby** method is used to group the DataFrame by the 'Player' column.
- The **sum()** function calculates the total amount won or lost for each player.
- The **reset_index()** function is used to convert the resulting Series back into a DataFrame.
- The column names are renamed for clarity.

In [215]:
import pandas as pd

# Create a dictionary with gambling data
data = {
    'Player': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Game': ['Poker', 'Blackjack', 'Roulette', 'Poker', 'Blackjack', 'Roulette', 'Blackjack', 'Poker', 'Roulette'],
    'Amount': [200, -100, 300, -50, 150, -200, 100, -250, 400]
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Group by the 'Player' column and calculate the total amount won or lost for each player
grouped_df = df.groupby('Player')['Amount'].sum().reset_index()

# Rename the columns for clarity
grouped_df.columns = ['Player', 'Total Amount']

# Display the grouped DataFrame
print("\nGrouped DataFrame (Total Amount Won or Lost by Player):")
print(grouped_df)

Original DataFrame:
    Player       Game  Amount
0    Alice      Poker     200
1      Bob  Blackjack    -100
2  Charlie   Roulette     300
3    Alice      Poker     -50
4      Bob  Blackjack     150
5  Charlie   Roulette    -200
6    Alice  Blackjack     100
7      Bob      Poker    -250
8  Charlie   Roulette     400

Grouped DataFrame (Total Amount Won or Lost by Player):
    Player  Total Amount
0    Alice           250
1      Bob          -200
2  Charlie           500

#### Merging and Joining DataFrames

**merge()** is similar to SQL joins.

- The **pd.merge** function is used to merge players_df and scores_df based on the 'PlayerID' column.
- The **on='PlayerID'** parameter specifies the column to merge on.

In [216]:
import pandas as pd

# Create the first DataFrame with player information
players_df = pd.DataFrame({
    'PlayerID': [1, 2, 3, 4],
    'PlayerName': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

# Create the second DataFrame with game scores
scores_df = pd.DataFrame({
    'PlayerID': [1, 2, 3, 1, 2, 3, 4],
    'Game': ['Poker', 'Blackjack', 'Roulette', 'Blackjack', 'Poker', 'Roulette', 'Poker'],
    'Score': [200, -100, 300, 150, 50, -200, 100]
})

# Display the DataFrames
print("Players DataFrame:")
print(players_df)
print("\nScores DataFrame:")
print(scores_df)

# Merge the DataFrames based on the 'PlayerID' column
merged_df = pd.merge(players_df, scores_df, on='PlayerID')

# Display the merged DataFrame
print("\nMerged DataFrame:")
print(merged_df)

Players DataFrame:
   PlayerID PlayerName  Age
0         1      Alice   25
1         2        Bob   30
2         3    Charlie   35
3         4      David   40

Scores DataFrame:
   PlayerID       Game  Score
0         1      Poker    200
1         2  Blackjack   -100
2         3   Roulette    300
3         1  Blackjack    150
4         2      Poker     50
5         3   Roulette   -200
6         4      Poker    100

Merged DataFrame:
   PlayerID PlayerName  Age       Game  Score
0         1      Alice   25      Poker    200
1         1      Alice   25  Blackjack    150
2         2        Bob   30  Blackjack   -100
3         2        Bob   30      Poker     50
4         3    Charlie   35   Roulette    300
5         3    Charlie   35   Roulette   -200
6         4      David   40      Poker    100

**concat()** concatenates DataFrames along a particular axis.

In [221]:
import pandas as pd

# Create the first DataFrame
df1 = pd.DataFrame({
    'PlayerID': [1, 2, 3],
    'PlayerName': ['Alice', 'Bob', 'Charlie'],
    'Score': [200, -100, 300]
})

# Create the second DataFrame
df2 = pd.DataFrame({
    'PlayerID': [4, 5, 6],
    'PlayerName': ['David', 'Eve', 'Frank'],
    'Score': [150, 50, -200]
})

# Display the DataFrames
print("First DataFrame:")
print(df1)
print("\nSecond DataFrame:")
print(df2)

# Concatenate the DataFrames vertically
# The ignore_index=True parameter resets the index of the resulting DataFrame.
vertical_concat_df = pd.concat([df1, df2], ignore_index=True)

# Display the concatenated DataFrame
print("\nVertically Concatenated DataFrame:")
print(vertical_concat_df)

First DataFrame:
   PlayerID PlayerName  Score
0         1      Alice    200
1         2        Bob   -100
2         3    Charlie    300

Second DataFrame:
   PlayerID PlayerName  Score
0         4      David    150
1         5        Eve     50
2         6      Frank   -200

Vertically Concatenated DataFrame:
   PlayerID PlayerName  Score
0         1      Alice    200
1         2        Bob   -100
2         3    Charlie    300
3         4      David    150
4         5        Eve     50
5         6      Frank   -200

In [222]:
# Create the third DataFrame
df3 = pd.DataFrame({
    'PlayerID': [1, 2, 3],
    'GamesPlayed': [10, 20, 30],
    'Wins': [6, 9, 15]
})

# Create the fourth DataFrame
df4 = pd.DataFrame({
    'PlayerID': [3, 2, 1],
    'Losses': [4, 11, 15],
    'Draws': [0, 0, 0]
})

# Set PlayerID as the index for both DataFrames
# To ensure the DataFrames are properly aligned by PlayerID, you can set the PlayerID as the index before concatenating 
# (or you can also use the merge function)
df3.set_index('PlayerID', inplace=True)
df4.set_index('PlayerID', inplace=True)

# Display the DataFrames
print("\nThird DataFrame:")
print(df3)
print("\nFourth DataFrame:  Note the players are not in the same order!")
print(df4)

# Concatenate the DataFrames horizontally
horizontal_concat_df = pd.concat([df3, df4], axis=1)

# Display the concatenated DataFrame
print("\nHorizontally Concatenated DataFrame:")
print(horizontal_concat_df)

Third DataFrame:
          GamesPlayed  Wins
PlayerID
1                  10     6
2                  20     9
3                  30    15

Fourth DataFrame:  Note the players are not in the same order!
          Losses  Draws
PlayerID
3              4      0
2             11      0
1             15      0

Horizontally Concatenated DataFrame:
          GamesPlayed  Wins  Losses  Draws
PlayerID
1                  10     6      15      0
2                  20     9      11      0
3                  30    15       4      0